
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<h2>Sign Out</h2>

<hr />

<div class="row">
    <div class="col-sm-4">
        @Html.ActionLink("Log in", "Login", "Home")
    </div>
</div>
